body{
font-family: Arial;
background: linear-gradient(135deg,#4facfe,#00f2fe);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:400px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

h2{
text-align:center;
margin-bottom:20px;
}

label{
font-weight:bold;
display:block;
margin-top:10px;
}

input,select,textarea{
width:100%;
padding:8px;
margin-top:5px;
border-radius:5px;
border:1px solid #ccc;
}

.rating label{
display:inline-block;
margin-right:10px;
font-weight:normal;
}

.checkbox label{
display:block;
font-weight:normal;
}

button{
width:100%;
padding:10px;
margin-top:15px;
background:#4facfe;
border:none;
color:white;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#00c6ff;
}